/* .search{
    position: relative;
}

.buttonPos{
    right: -2.8rem;
}

.inputPos{
    left:2.8rem
}

.giveFont{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.northsouth{
    background-color: rgb(174, 169, 169);
    text-align: center;
}

.blockvalue{
    display: inline-block;
    width: 62%;
    text-align: center;
    font-size: 5rem;
}

#southbutton{    
    font-size: 5rem;
    background-color: rgb(174, 169, 169);
    border: none;
    left: 0.2rem;
}

#northbutton{
    font-size: 5rem;
    background-color: rgb(174, 169, 169);
    border: none;
}

.inputContainer{
    background-color: rgb(174, 169, 169);
}

.mainContainer{
    background-color: rgb(212, 209, 209); 
    min-height: 100vh;
    border: 0.1rem solid black;
}

.floorContainer{
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: .75rem .50rem .75rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
    margin-right: 5rem;
    height: 7vh;
    background-color: rgb(239, 238, 238);
    list-style-type: none;
}

.assignmentCard{
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin: 2rem;
    margin-top: 5rem;
    text-align: center;
    padding: 3rem;
}

#addnew{
    margin-left: 85dvw;
}

.assignmentdetails{
    position: fixed;
    z-index: 1;
    top: 0rem;
    left: -101dvw;
    width: 100dvw;
    height: 170dvw;
    background-color: black;
    transition: all 0.5s ease; 
}

#details{
    position: fixed;
    width: 40dvw;
    height: 40dvh;
    top: 35dvh;
    left: -145dvw;
    z-index: 2;
    padding-bottom: 3rem;
    text-align: center;
    background-color: white;
    opacity: 1;
    transition: all 0.5s ease;
}



#open{
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 5dvw;
    left: 90dvw;
    padding: 0.5rem;
    padding-top: 0.1rem;
    font-size: 3rem;
    background-color: black;
    color: white;
}

.close{
    cursor: pointer;
    top: 35dvh;
    left:-101dvw;
    background-color: white;
    border-radius: 0.2rem;
    position: fixed;
    z-index: 3;
    transition: 0.5s ease;    
}

.complete{
    cursor: pointer;
    top: 65dvh;
    left:-101dvw;
    background-color: white;
    border-radius: 0.2rem;
    position: fixed;
    z-index: 3;
    transition: 0.5s ease;    
}

.submitnew{
    display: none;
}

.filter{
    position: fixed;
    height: 5dvh;
    width: 11dvw;
    top: 65dvh;
    left: -90dvw;
    background-color: white;
    z-index: 4;
    transition: all 0.5s ease;
    opacity: 0.5;
}

.notFulfill{
    z-index: 1;
}

.submitnew:checked~ .filter{
    left: 45dvw;
}

.submitnew:checked~ .assignmentdetails{
    left: 0dvw;
    opacity: 0.7;
}

.submitnew:checked~ #details{
    left: 30dvw;
}

.submitnew:checked~ label .close{
    left: 68dvw;  
}

.submitnew:checked~ label .complete{
    left: 45dvw;  
}

.eachSub{
    border: 0.1rem solid black;
    padding-bottom: 5rem;
}

.assignmentCard{
    border: 0.1rem solid black;
}

.options{
    display: none;
}
.restrict{
    width: 5dvw;
    position: relative;
    border: 0.1rem solid black;
}
#opt{
    cursor: pointer;
    width: 5dvw;
    left:80dvw;
    position: absolute;
}

.optionElement{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    border: 0.1rem solid black;
    position: absolute;
    width: 4rem;
    left: 80dvw;
    margin-top: 3rem;    
}

.lockUnlock{
    margin-top: 3rem;
}

#editAlloc{
    display: none;
}
#edit{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    width: 4rem;
    border: 0.1rem solid white;
    left: 80dvw;
    margin-top: 1.5rem;
    opacity: 1;
}

#editAlloc:checked~ .filter{
    left: 45dvw;
}

#editAlloc:checked~ .assignmentdetails{
    left: 0dvw;
    opacity: 0.7;
}

#editAlloc:checked~ #details{
    left: 30dvw;
}

#editAlloc:checked~ label .close{
    left: 68dvw;  
}

#editAlloc:checked~ label .complete{
    left: 45dvw;  
}

.options:checked~ .optionElement{
    display: block;
}
.options:checked~ label #edit{
    display: block;
}


#submissionContainer{
    display: flex;
    border: 0.1rem solid black;
    width: 30dvw;
    height: 12dvh;
}
.submissionStat{
    border: 0.1rem solid black;
    margin: 0.5rem;
    width: 10dvw;
    height: 9dvh;
}
.subNumber{
    margin: 0.05rem;
    font-size: 1.5rem;
}




 .reportContainer{
    padding: 1rem;
}
.report{
    position: absolute;
    width: 90dvw;
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    height: 3dvh;
}

.reportStudent{
    position: absolute;
    width: 90dvw;
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    height: 3dvh;
    margin-top: 7rem;
    transition: all 0.5s ease; 
}

#showFacultyTable{
    cursor: pointer;
    position: absolute;
    margin-top: 1.8rem;
    left: 90dvw;
    z-index: 1;
}

#showStudentTable{
    cursor: pointer;
    position: absolute;
    margin-top: 6rem;
    left: 90dvw;
    z-index: 1;
    transition: all 0.5s ease;
}

#checkTableFaculty{
    display:none;
}

#checkTableStudent{
    display: none;
}

.facultyTableContainer{
    overflow: scroll;
    scrollbar-width: none;
    position: absolute;
    margin-top: 1rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    width: 92dvw;
    padding: 2rem;
    top: 40dvh;
    left: -115dvw;
    transition:all 0.5s ease;
}

th,tr,td{
    border: 0.1rem solid black;
}

#checkTableFaculty:checked~ .facultyTableContainer{
    left: 1dvw;
}


.decreaseFont{
    font-size: 0.7rem;
}

.feedbackQuestion{
    border-radius: 2rem;
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 1rem;
}

.end{
    background: none;
    border: none;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
}

.studentTableHorizontalShow{
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: ease;
}

.loginCard{
    margin: 2rem;
    text-align: center;
    background-color: rgb(193, 175, 230);
    min-height: 20rem;
    padding: 2rem;
    width: fit-content;
    border: solid 0.1rem black;
    box-shadow: 0.75rem 0.75rem 0.75rem hsl(0, 11%, 50%);
    border-radius: 0.5rem;
}

.backGround{
    display: grid;
    place-items: center;
    height: 99vh;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: rgb(178, 8, 208);
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    background-color: rgb(237, 221, 242);
    padding: 0.5rem;
}

/* Box styles */
.box {
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */
.banner {
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(242,220,248,1) 25%, rgba(236,199,246,1) 56%, rgba(214,116,240,1) 81%, rgba(187,50,222,1) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.banner .stud {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner .admin{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.logout:hover {
    background-color: var(--border-color);
    color: white;
}

/* Sidebar */
.navigation {
    padding-top: 10px;
    padding-inline: 10px;
    display: flex;
    justify-content: start;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation li {
    background: rgb(241, 200, 249);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.navigation li a{
    text-decoration: none;
}

.navigation li:hover {
    color: rgb(105, 2, 123);
    background-color: rgba(202, 143, 214, 0.913);
}

/* Content Section */
.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(163, 162, 162, 0.5);
}

.question {
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 1.1rem;
    padding: 10px;
    /* background-color: white; */
    border-bottom: solid var(--border-color) 2px;
}
.question #q-no{
    display: flex;
}

.responses {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}
.options-fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
.options-fieldset legend{
    display: flex;
    gap: 1rem;
}
.options {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    gap: 10px;
    padding-right: 20%;
}

.label-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Controls (Buttons) */
.controls {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: solid var(--border-color) 2px;
}
.control {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.buttons {
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 8px 15px;
    box-shadow: 0 1px 5px 1px grey;
    cursor: pointer;
    /* max-height: 2rem; */
    /* max-width: 3rem; */
}
.buttons:hover {
    background-color: var(--border-color);
    color: white;
}

.filter{
    grid-row:3/4 ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
.filter .sem{
    gap: .5rem;
}
.filter .faculty-class{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.filter{
    padding: 10px;
    display: flex;
    justify-content: start;
    gap: 1rem;
}
.filter .from-semester{
    gap: .5rem;
}
.filter .to-semester{
    gap: .5rem;
}
.filter nav{
    display: flex;
    /* box-shadow: 0 0 .2rem rem grey; */
    /* justify-content: stretch; */
    /* align-items: stretch; */
    /* border: solid 2px grey; */
    /* padding: .2rem; */
}


.content .feedback-configure{
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.feedback-configure .configure{
    display: flex;
    gap: .5rem;
}

.questions-preview{
    grid-row: 2/3;
    place-self: start;
    margin: .7rem;
    display: grid;
    grid-template-rows: auto 1fr;
    /* display: flex;
    flex-direction: column; */
    gap: 1rem;
}
.questions-preview .question-panel{
    /* grid-row: ; */
    display: grid;
    grid-template-columns: 1fr auto;
    border: solid grey 1.5px;
    border-radius: .2rem;
    background-color: #e5a3f4;
    padding: .3rem;
    gap: 1rem;
    margin: 1rem;
}
.question-panel .question{
    grid: 1/2;
    display: flex;
    gap: .2rem;
}
.question #q-no{
    display: flex;
}
.edit-controls{
    grid: 2/3;
    display: flex;
    flex-direction: column;
}
.questions-preview .add {
    align-self: start; /* Aligns to the top */
    margin-left: auto; /* Pushes it to the right */
    padding: 5px 10px; /* Smaller size */
    font-size: 14px; /* Adjust text size */
    width: fit-content; /* Adjusts width to fit content */
}
.questions {
    /* max-height: 300px; Controls the height */
    overflow-y: auto; /* Enables scrolling */
    border: 1px solid #ccc;
    padding-right: 5px;
}

.faculty-layout-content{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "class subject"
    "class cards"
    ;
}
.class-navigation{
    grid-area: class;
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 15vw;
    align-items:stretch;
    /* padding: 1vw 0vw; */
    /* margin-right: .4rem; */
}
.class-navigation .class-name{
    padding: 1vw;
}
.class-navigation .class-name:hover{
    background-color: #fff;
}
.subject-navigation{
    grid-area: subject;
    grid-row: 1/2;
    grid-column: 2/4;
    background-color: #f1f1f1;
    display: flex;
    min-height: 3vw;
    align-items: stretch;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* justify-content: stretch; */
    /* gap: 2vw; */
}
.subject-navigation .subject-name{
    display: flex;
    align-items: center;
    padding: 0 1vw;
}
.subject-navigation .subject-name:hover{
    background-color: #fff;
}
.content-fact-ast{
    grid-area: cards;
    grid-column: 2/4;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.subject-navigation a{
    all: unset;
}

/* responsive */
@media (max-width: 35rem) {

    *{
        font-size: small;
    }

    .question #question{
        font-size: 1rem;
    }

    .options{
        flex-direction: column;
    }

    .navigation ul {
        gap: .6rem;
    }
    .navigation li {
        padding: 5px;
        font-size: .6rem;
    }

    .filter{
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: .5rem;
        font-size: smaller;
    }

    .filter .faculty-class{
        display: flex;
        flex-direction: column;
    }

    .content .feedback-configure{
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: smaller;
    }

    .trial {
        padding: 2rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .login {
        max-width: 95vw; /* ✅ Adjusts the width on smaller screens */
        padding: 1.5rem;
    }

    .dabba input, .login-btn {
        width: 90%;  /* ✅ Makes sure they scale properly on small screens */
    }

}

iframe{
    all: unset;
    height: 40rem;
    width: 50rem;
}

/* Table Container */
.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

.studentTableHorizontalShow{
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: ease;
}

  
  /* Table Styling */
    table {
    /* width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333; */

    border-collapse: collapse;
    border-radius: .4rem .4rem .4rem .4rem;
    margin: 1.5rem 0;
    box-shadow: 0 0 1rem .01rem gray;
    overflow: hidden;

    }
    table thead tr{
    color: white;
    background-color: #a22cca;
    text-align: left;
    font-weight: bold;
    }
    table td, table th{
    padding: .6rem .6rem;  
    }
    table tbody tr{
        border-bottom: solid 1px grey;
    }
    table tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
    }
    table tbody tr:last-of-type{
        border-bottom: solid 2px #c461e4;
    }

  
  /* Table Head */
  /* thead {
    background-color: #007bff;
    color: white;
  } */
  
  /* th {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #0056b3;
  } */
  
  /* Table Body */
  /* td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  } */
  
  /* Alternate Row Colors */
  /* tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* Hover Effect */
  /* tbody tr:hover {
    background-color: #f1f1f1;
    transition: background 0.3s ease-in-out;
  } */
  
  /* Responsive */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    th,
    td {
      padding: 8px 12px;
    }
  }


  #showFacultyTable{
    cursor: pointer;
    position: absolute;
    margin-top: 1.8rem;
    left: 90dvw;
    z-index: 1;
}
.facultyTableContainer{
    overflow: scroll;
    scrollbar-width: none;
    position: absolute;
    margin-top: 1rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    width: 92dvw;
    padding: 2rem;
    top: 40dvh;
    left: -115dvw;
    transition:all 0.5s ease;
}

#checkTableFaculty:checked~ .facultyTableContainer{
    left: 1dvw;
}

#checkTableFaculty{
    display:none;
}

.gap{
    margin-top: 1.9rem
}

.logo img {
    max-width: 100px;
    max-height: 50px;
    width: auto; 
    height: auto;
    object-fit: contain; 
    display: block;
}

.faculty #name{
    font-size: 1.1rem;
}

.assignmentCard{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    ""
    "";
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin: 2rem;
    margin-top: 5rem;
    text-align: center;
    padding: 3rem;
}
.options-asgn{
    display: none;
}
.restrict{  
    width: 5dvw;
    position: relative;
    border: 0.1rem solid black;
}
#opt{
    cursor: pointer;
    width: 5dvw;
    left:80dvw;
    position: absolute;
}

.optionElement{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    border: 0.1rem solid black;
    position: absolute;
    width: 4rem;
    left: 80dvw;
    margin-top: 3rem;    
}

.lockUnlock{
    margin-top: 3rem;
}

#editAlloc{
    display: none;
}
#edit{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    width: 4rem;
    border: 0.1rem solid white;
    left: 80dvw;
    margin-top: 1.5rem;
    opacity: 1;
}

#editAlloc:checked~ .filter{
    left: 45dvw;
}

#editAlloc:checked~ .assignmentdetails{
    left: 0dvw;
    opacity: 0.7;
}

#editAlloc:checked~ #details{
    left: 30dvw;
}

#editAlloc:checked~ label .close{
    left: 68dvw;  
}

#editAlloc:checked~ label .complete{
    left: 45dvw;  
}

.options-fac-asgn:checked~ .optionElement{
    display: block;
}
.options-fac-asgn:checked~ label #edit{
    display: block;
}


#submissionContainer{
    display: flex;
    border: 0.1rem solid black;
    width: 30dvw;
    height: 12dvh;
}
.submissionStat{
    border: 0.1rem solid black;
    margin: 0.5rem;
    width: 10dvw;
    height: 9dvh;
}
.subNumber{
    margin: 0.05rem;
    font-size: 1.5rem;
}
.decreaseFont{
    font-size: 0.7rem;
}

#removeColor{
    background-color: white;
}

.login {
    background: rgb(255, 255, 255);
    background-image: url('../public/Mit\ Logo\ 2.jpg');
    background-size: 70% 20%;
    background-repeat: no-repeat;
    background-position: top 2rem center;
    
    box-shadow: 0 .5rem .8rem .2rem rgba(0, 0, 0, 0.697);
    border-radius: .8rem;
    max-width: 90vw;  /* ✅ Prevents it from exceeding viewport width */
    max-height: 90dvh;
    /* padding: 2rem;
    padding-inline: 3.8rem; */
    padding: 2rem 3.8rem 2rem 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(135deg, #ebebeb, #9568cc, #673d9b);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.trial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;  /* ✅ Ensures it stays within .login */
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 1rem;
    position: relative;
    top: 3.5rem;
}

.trial h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(87, 85, 85);
}

.dabba {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.dabba label {
    font-size: small;
    color: rgb(87, 85, 85);
    margin-left: .3rem;
}

.dabba input {
    height: 2.5rem;
    width: 18rem;
    min-width: 280px;  /* ✅ Prevents shrinking too much */
    border: solid 2px;
    border-radius: .5rem;
    padding-inline: .3rem;
}

.login-btn {
    color: white;
    margin-top: 1rem;
    height: 2.5rem;
    width: 18rem;
    min-width: 280px;  /* ✅ Prevents shrinking too much */
    background-color: #a849cb;
    border: solid #a849cb 2px;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
}

.password #forgot-password {
    text-decoration: none;
    margin-top: 1rem;
}

#subType{
    all: unset;
    max-width: 3.7rem;
    max-height: 1.5rem;
    padding: .3rem 1rem;
    border: solid 2px rgb(178, 8,208);
    border-radius: .3rem;
    background-color: #fff;
    margin: .2rem .5rem;
}
#subType:focus, #subType:active{
    border: solid 2px rgb(178, 8, 208);
    outline: none;
    box-shadow: none;
}



/* 
.backGround {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #007bff, #00c6ff);
  }
   */

.add-question{
    display: flex;
    gap: .5rem;
}
.add-question label{
    font-size: 1rem;
    align-self: center;
}
.add-question input{
    border-radius: .2rem;
    padding-inline: .2rem;
    width:80%;
}
.edit-questions{
    display: flex;
    margin-inline: 1rem;
    gap: .2rem;
}
.edit-questions input{
    border-radius: .2rem;
    padding-inline: .2rem;
    width:80%;
}

.upload-csv{
    background-color: #fbd9fb;
    padding: .5rem;
    width: 35rem;
    border-radius: .4rem;
}

#enter-csv{
    height: 2rem;
}

.options-fac-asgn{
    display: none;
}
.restrict{
    width: 5dvw;
    position: relative;
    border: 0.1rem solid black;
}
#opt{
    cursor: pointer;
    width: 5dvw;
    left:80dvw;
    position: absolute;
}

.optionElement{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    border: 0.1rem solid black;
    position: absolute;
    width: 4rem;
    left: 80dvw;
    margin-top: 3rem;    
}

.lockUnlock{
    margin-top: 3rem;
}

#editAlloc{
    display: none;
}
#edit{
    background-color: black;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    width: 4rem;
    border: 0.1rem solid white;
    left: 80dvw;
    margin-top: 1.5rem;
    opacity: 1;
}

#editAlloc:checked~ .filter{
    left: 45dvw;
}

#editAlloc:checked~ .assignmentdetails{
    left: 0dvw;
    opacity: 0.7;
}

#editAlloc:checked~ #details{
    left: 30dvw;
}

#editAlloc:checked~ label .close{
    left: 68dvw;  
}

#editAlloc:checked~ label .complete{
    left: 45dvw;  
}

.options:checked~ .optionElement{
    display: block;
}
.options:checked~ label #edit{
    display: block;
}

.gradeSubmission-wala-content-box{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "back-and-deadline back-and-deadline"
    "submissions-sidebar gs-content"
    ;
}
.gradeSubmission-wala-content-box .back-and-deadline{
    grid-area: back-and-deadline;   
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.gradeSubmission-wala-content-box .submissions-sidebar{
    grid-area: submissions-sidebar;
    display: flex;
    flex-direction: column;
}
.gradeSubmission-wala-content-box .removeColor{
    height: 100%;
    width: 100%;
}
.gradeSubmission-wala-content-box .GS-content{
    grid-area: gs-content;
}
.GS-content .removeColor .sub-date{
    display: flex;
}
